body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 700;
}
.addpost {
  width: 800px;
  height: auto;
  background: #eee;
  color: #000;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 1px solid black;
  padding: 70px 30px;
}

.addpost input[type="file"] {
  width: 80%;
  height: 30px;
  font-size: 16px;
}

.addpost input[type="submit"] {
  height: 40px;
  width: 40%;
  font-weight: 700;
}

.addpost a {
  width: 40%;
  font-weight: 700;
  height: 42px;
  margin-left: 12%;
}
